#rooms{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color:#e8e8e8;
    flex-direction: column;
}
#room-head{
    display: flex;
    margin-top: 110px;
    font-size: 300%;
    margin-bottom: 40px;
    color: #2f2f2f;
}
.room{
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    margin-top: 50px;
    width: 80%;
    background-color: transparent;
    /* border: 1px solid blue; */
    display: flex;
}
.room-text{
    width: 50%;
    height: auto;
    border-radius: 2rem;
    background-color: white;
}
.room-imgbox{
    width:50%;
    height:auto;

}
.room-img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    border-radius: 2rem;

}