* {
  font-family: "Lora", serif;
  margin: 0px;
  padding: 0px;
  border: 0%;
  /* color: #2f2f2f; */
  text-decoration: none;
}
h1{
  font-family: "Trajan Pro 3";
}

@font-face {
  font-family: "Trajan Pro 3";
  src: local("Trajan Pro 3 Light"), local("Trajan-Pro-3-Light"),
    url("TrajanPro3Light.woff2") format("woff2"),
    url("TrajanPro3Light.woff") format("woff"),
    url("TrajanPro3Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

#Features {
  display: flex;
  flex-direction: column;
  width: 99vw;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
.Features_slot {
  display: flex;
  width: 80%;
  gap: 10%;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.text-left {
  width: 40%;
  text-align: center;
}

.text-left h1 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-family: "Trajan Pro 3";
  font-weight: 100;
  font-size: 3rem;
}
.text-left p {
  font-family: "Lora", serif;
  font-size: 1rem;
  padding-right: 1.5rem;
  padding: 0rem 1.5rem;
}
.image-right {
  width: 50%;
  height: auto;
}
.feature-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

#main {
  width: 99vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
#header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 7px #2f2f2f;
  width: 99vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2em;
  position: fixed;
}
.links-left {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.links-right {
  display: flex;
  width: 15%;
  gap: 15%;
  justify-content: flex-end;
}
#logo {
  height: 11vh;
  width: auto;
}
.signup,
.signin {
  font-size:16px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #d7ac67;
  color: rgb(243, 243, 243);
  padding: 8px 12px;
  font-weight:bolder;
  border-radius: 8%;
  border: 2px solid #d7ac67;
}
.signup {
  color: #d7ac67;
  background-color: white;
}
#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 100vh;
  background: url("Images/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#book-bar {
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 550px;
  height: 60px;
  width: 1000px;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
  border: 1px solid #2f2f2f;
}
#arrival,
#depart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#book-bar-rooms,
#book-bar-people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#book-bar > p {
  font-size: large;
}




/* *Other Feature Box */

.Other-Features{
  /* border: 2px solid red; */
  background-color: rgb(230, 230, 230);
  margin-top: 5%;
  width: 98vw;
  color: black;
}
.Other-Feature-list{
  /* border: 2px solid blue; */
  margin: 2% 6%;
  padding: 2%;
}
.Other-Feature-list-heading{
  /* border: 2px solid green; */
  /* text-align: center; */
  font-weight: 400;
  padding-left: 8%;
  /* font-size: 1.8rem; */
  /* font-family: "Trajan Pro 3"; */
  width: 99%;
}
.other-feature-box{
  /* border: 2px solid black; */
  margin-top: 3%;
  padding: 1%;
  width: 97%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.list{
  /* border: 2px solid brown; */
  width: 98%;
  padding: 0.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
li{
  display: inline-block;
  /* font-weight: bold; */
  /* text-align: center; */
  list-style: none;
  width: 15%;
  /* padding: 0.5%; */
  padding-left: 7%;
  margin: 0.5%;
  /* border: 2px solid red; */
  font-family: "Lora", serif;
  font-size: 1rem;
}
#list-2 li{
  width: 20%;
  /* font-weight: bold; */
}
#list-2 li span{
  /* width: 20%; */
  font-weight: 100;
}
/* iframe{
  padding: 0px;
  margin: 0px;
} */
/** Location box  */

#location-body{
  /* align-self: auto; */
  color: white;
  /* border:2px solid red; */
  width:93vw;
  display: flex;
  flex-direction: row;
  padding:3rem;
  /* margin-top: 5%; */
  background-color: #494d5f;
}
.writeup{
  
  color: white;
  width:50%;
  /* border: 2px solid black; */
  /* padding:rem; */
  padding-left:10%;
  padding-top: 4%;
}
.writeup p{
  font-size: 1.2rem;
  width: 70%;
  /* border: 2px solid red; */
}
.writeup h1{
  margin:1.2rem 0rem;
}
.dropdown{
  margin-top:8%;
}
.drop-down{
  padding:1rem;
  border-bottom:2px solid white;
  width:40%;
  font-size: 1.2rem;
}
.drop-down i{
  padding-right:9px;
}
.map{
  /* border:2px solid yellow; */
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
