*{

    font-family: 'Lora', serif;
    
    margin: 0px;
    padding: 0px;
    border: 0%;
    color: #2f2f2f;
    text-decoration: none;
}

@font-face {
    font-family: 'Trajan Pro 3';
    src: local('Trajan Pro 3 Light'), local('Trajan-Pro-3-Light'),
        url('TrajanPro3Light.woff2') format('woff2'),
        url('TrajanPro3Light.woff') format('woff'),
        url('TrajanPro3Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

#Features{
    display:flex;
    flex-direction: column;
    width: 99vw;
    /* border: 2px solid red; */
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.Features_slot{
    /* border: 2px solid black; */
    display:flex;
    width: 80%;
    gap:10%;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    /* background-color:#40526a; */
    
}
.text-left{
    /* border: 2px solid green; */
    width: 40%;
    margin: auto;
    text-align: center;
}

.text-left h1{
    /* color: #2f2f2f; */
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-family: 'Trajan Pro 3';
    font-weight: 100;
    /* text-align: left; */
    font-size: 3rem;
}
.text-left p{
    /* color: white; */
    font-family: 'Lora', serif;

    /* text-align: left; */

    font-size: 1rem;
    padding-right: 1.5rem;
    padding:  0rem 1.5rem;
}
.text-right p{
    /* text-align: right; */
}
.text-right h1{
    /* text-align: right; */
}
.image-right{
    /* border: 2px solid blue; */
    width: 50%;
    height: auto;
}
.feature-image{
    /* border: 2px solid pink; */
    width: 100%;
    height:auto;
    border-radius: 50%;
}


#main{
    width: 99vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
#header{
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 2px 7px black;
    width: 99vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2em;
    /* border-bottom:1px solid #6d4932 ; */
    position: fixed;
}
.links-left{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.links-right{
    display: flex;
    width: 13%;
    gap:15%;
    justify-content: flex-end;
}
#logo{
    height: 11vh;
    width: auto;
}
.login, .signin{
    background-color: #d7ac67;
    color: rgb(243, 243, 243);
    padding: 8px 12px;
    font-weight: 600;
    border-radius: 8%;
}
#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 100vh;
    background:url("Images/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.writing-big{
    font-family: 'Parisienne', cursive;
    font-size: 500%;
    margin-top: 20%;
    margin-left: 25%;
    height: auto;
    width: 500px;
}
.writing-small{
    color: #487254;
    font-size: 150%;
    width: 400px;
    height: 100px;
    margin-top: 5%;
    margin-left: 25%;
}
#book-bar{
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 550px;
    height: 60px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
}
#arrival,#depart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}
#book-bar-rooms,#book-bar-people{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}
#book-bar>p{
    font-size: large;
}
